html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-color: #33041d;
	color: deeppink;
	font-family:'Sacramento', cursive;
}

h1 {
	font-size: 4em;
	align-self: flex-start;
}

#container {
	
	margin: 8vh 5vw 4vh 5vw;
	width: 90vw;
	height: 88vh;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
}

#message {
	
	font-size: 3.25em;
	margin: 1.5em 0.67em;
	text-align: center;

}

#buttons {
	align-self: flex-end;
}

#buttons button {

	background-color: transparent;
	border: none;
	color: #990c58;
	font-family: inherit;
	outline: none;
	font-size: 6em;
}

#buttons button:hover {
	border: none;
	outline: none;
	color: #ffb8de;
}

#buttons button:active {
	border: none;
	outline: none;
}

#playpause {
	text-align: left;
	margin-right: 0.1em;
}

.material-icons {
	font-size: 36px;
}





